<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.isecpartners.android.intentsniffer"
	android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="1" />
	<!-- you may wish to add uses-permission declarations here to enable seeing 
		 brodcasts protected with permissions -->
	<application android:icon="@drawable/icon"
		android:label="@string/app_name" android:persistent="true">
		<activity android:name=".IntentSniffer"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name=".HttpService" ></service>
	</application>
	<uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" /> 
</manifest>
